body {
  background-color: $background;

  .main {
    .user {
      margin-bottom: 60px;
      .username {
        color: $primary;
      }
      h1 {
        font-size: 48px;
        font-weight: 500;
      }
      p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      .graphs {
        width: 75%;

        &--bottom {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  body {
    .main {
      margin: 30px 20px 30px 120px;
      width: 867px;

      .content {
        .graphs {
          width: 700px;

          &--bottom {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1250px) {
  body {
    .main {
      margin: 60px 60px 60px 160px;
    }
  }
}
