body {
  background-color: $background;

  .main {
    margin: 60px 60px 60px 160px;

    .user {
      margin-bottom: 60px;
      .username {
        color: $primary;
      }
      h1 {
        font-size: 48px;
        font-weight: 500;
      }
      p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      .graphs {
        width: 70%;

        &--bottom {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
