main {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: $primary;
    color: white;
    border: 1px white solid;
    font-size: 30px;
    cursor: pointer;
  }
}
